.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .formContainer {
    background-color: var(--color-box-bg);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .title {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input {
    padding: 12px;
    border: 1px solid var(--color-input-border);
    border-radius: 5px;
    font-size: 16px;
  }

  .input:focus {
    border-color: var(--color-input-focus-border);
    outline: none;
    box-shadow: 0 0 0 2px var(--color-input-focus-shadow);
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 12px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: var(--color-primary-hover);
  }
  
  .buttonSecondary {
    margin-top: 20px;
    padding: 12px;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .buttonSecondary:hover {
    background-color: var(--color-secondary-hover-bg);
    color: var(--color-secondary-hover-text);
  }