.sidebar {
    position: relative; /* Remove o posicionamento fixo */
    top: 0; /* Remove a distância do topo */
    right: 0; /* Remove alinhamento extremo à direita */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    padding: 10px;
    margin-right: 300px;
    height: auto; /* Ajusta a altura automaticamente */
    overflow-y: auto; /* Adiciona rolagem se necessário */
    background-color: transparent; /* Remove 
    fundo */
    margin-top: 75px;
}
  
.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06); /* Sombra aplicada apenas no card */
    padding: 20px;
    font-family: 'Inter', sans-serif;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
  
.card h3 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}
  
.card p {
    font-size: 0.85rem;
    line-height: 1.4;
    color: #4b5563;
}
  
.icon {
    font-size: 1.6rem;
    align-self: flex-start;
}
  
.button {
    background-color: #0a2d4a;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: auto;
    transition: background-color 0.3s;
}
  
.button:hover {
    background-color: #08304b;
}
