.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  color: #111827;
  margin: 18px 0 18px 0;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.buttonSalvar {
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 10px;
}

.buttonSalvar:hover {
  background: #1746a2;
}

.buttonCancelar {
  background: #e5e7eb;
  color: #111827;
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%; /* Mesma largura do botão salvar */
  margin-top: 10px;
}

.buttonCancelar:hover {
  background: #d1d5db;
}



.fotoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.fotoPreview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background: #e5e7eb;
}

.fotoBtn {
  background: #1677ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 28px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
}

.fotoBtn:hover {
  background: #0056d6;
}

.diasBox {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.diaItem {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
}

.conveniosBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.conveniosItem {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.checkboxItem input {
  margin-right: 0.25rem;
}

.convenioHeader {
  font-size: 1rem;
  font-weight: 600;
  color: #374151;
}