.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 80vh; /* Garante que a altura mínima seja a altura da tela */
}

.titlecontaineragendamento {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

/* Ajuste dos cards */
.cardsContainer {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;

}

.card {
  background-color: #0a2d4a; /* Fundo azul escuro */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white; /* Texto branco */
  width: 100%;
  max-width: 300px;
  text-align: center;
  gap: 10px;
}

.card p {
  margin: 5px 0;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Ajuste dos botões */
.cardActions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.editButton,
.removeButton,
.saveButton,
.cancelButton {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  background-color: #0070f3;
  width: 140px;
  transition: background-color 0.3s ease;
}

.editButton,
.removeButton {
  background-color: white;
  color: #0a2d4a;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.editButton:hover {
  background-color: #e0e0e0;
}

.removeButton {
  background-color: #ef4444;
  color: white;
}

.removeButton:hover {
  background-color: #dc2626;
}

/* Ajuste do formulário */
.editForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editForm select,
.editForm input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}

.editForm button {
  margin-top: 15px;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.editForm button:hover {
  background-color: #218838;
}

.noAppointments {
  font-size: 1rem;
  color: #6b7280;
  text-align: center;
}

/* Ajuste da responsividade */
@media (max-width: 768px) {
  .titlecontaineragendamento {
    font-size: 2em;
  }

  .cardsContainer {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .card {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 12px;
  }

  .editButton,
  .removeButton {
    width: 100%;
    max-width: 140px;
    font-size: 14px;
  }
}