@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


:root {
    --font-primary: 'Inter', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: #f7fafc; /* opcional */
    color: #333;
  }

.pageLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.7);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 6px solid #e0e0e0;
  border-top: 6px solid #0a2d4a;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
