@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


:root {
    --font-primary: 'Inter', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: #f7fafc; /* opcional */
    color: #333;
  }
  