.upcomingAppointments {
  margin-top: 35px;
  background-color: #0a2d4a; /* Fundo azul escuro */
  border-radius: 10px;
  padding: 35px;
  color: white;
  font-family: 'Inter', sans-serif;
  width: 77%;
  margin-left: 48px;
}

.upcomingAppointments h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.appointmentCard {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  background-color: #1a3b5d; /* Fundo mais escuro para os cards */
}

.appointmentCard:last-child {
  margin-bottom: 0;
}

.appointmentTime {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 15px;
}

.appointmentDetails {
  display: flex;
  flex-direction: column;
}

.appointmentDetails strong {
  font-size: 1rem;
  font-weight: 600;
}

.appointmentDetails p {
  font-size: 0.9rem;
  margin: 0;
  color: #d1d5db; /* Cinza claro */
}

.noAppointments {
  font-size: 1rem;
  color: #d1d5db; /* Cinza claro */
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-start; /* Alinha os elementos ao início */
  align-items: flex-start;
  padding: 50px 10px; /* mais espaço acima e abaixo */
  background: transparent; /* remove fundo */
  flex-direction: row; /* Alinha os elementos em linha */
  margin-left: 150px;
}

.mainContent {
  display: flex;
  gap: 50px; /* Espaçamento entre o calendário e a sidebar */
  justify-content: center; /* Centraliza a coluna principal */
  flex: 1; /* Permite que a coluna principal ocupe mais espaço */
  margin-right: auto; /* Garante que o conteúdo principal fique à esquerda */
}

.formContainer {
  background-color: transparent; /* remove fundo */
  padding: 0; /* reduz padding interno */
  box-shadow: none; /* remove sombra */
  border: none; /* remove borda */
  max-width: 700px;
  width: 100%;
  flex: 2; /* Ocupar mais espaço */
  margin-right: auto; /* Empurra o conteúdo para o centro */
}

.title {
  text-align: center;
  font-size: 30px;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif; /* Aplica a fonte Inter */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.inputoption {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.inputoption:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.inputnome {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 275px;
}

.inputnome:focus {
  border-color: #0a2d4a;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.button {
  padding: 12px;
  border: none;
  background-color: #0a2d4a;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 150px;
}

.button:hover {
  background-color: #0a2d4a;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50vw; /* Mantém largura fixa */
  max-width: 500px; /* Define um limite de largura */
  min-width: 350px;
  max-height: 90vh; /* Garante que o modal não ultrapasse a tela */
  overflow-y: auto; /* Adiciona rolagem interna quando necessário */
  outline: none;
  z-index: 1001;
}


.modalFooter {
  display: flex;
  justify-content: center; /* Centraliza botões no mobile */
  flex-wrap: wrap; /* Permite que os botões quebrem de linha se necessário */
  margin-top: 20px;
  gap: 15px;
  width: 100%;
}


.buttonSecondary {
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonSecondary:hover {
  background-color: #aaa;
}

.reactCalendar {
  width: 100% !important;
  max-width: 600px !important;
  background-color: #ffffff !important;
  border: none !important;
  border-radius: 16px !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06) !important;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding: 25px !important;
  margin: 0 auto 20px auto !important;
  transition: all 0.3s ease;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1a202c;
  padding: 5px 10px;
  cursor: pointer;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  color: #0a2d4a;
  text-align: center;
  margin-bottom: 10px;
}


.react-calendar__tile {
  padding: 15px !important;
  background-color: #0a2d4a !important;
  border-radius: 10px !important;
  text-align: center;
  font-weight: 500;
  color: #2d3748;
  transition: background-color 0.3s ease;
}

.react-calendar__tile:enabled:hover {
  background-color: #0a2d4a !important;
  color: #ffffff !important;
}


.react-calendar__tile--active {
  background-color: #0f2743 !important;
  color: #fff !important;
}

.react-calendar__tile--now {
  background-color: transparent !important;
  color: inherit !important;
  font-weight: bold !important;
  border: none !important;
  box-shadow: none !important;
}


.react-calendar__tile--disabled {
  background-color: #f1f1f1 !important;
  color: #0a2d4a !important;
  cursor: not-allowed !important;
}

.times {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Ajuste o espaçamento entre os botões */
  justify-content: center;
}

.timeButton {
  padding: 7px 15px; /* Ajuste o padding para diminuir o tamanho dos botões */
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  border-radius: 5px;
  font-size: 15px; /* Ajuste o tamanho da fonte */
  cursor: pointer;
  transition: all 0.3s ease;
  width: 70px; /* Ajuste a largura dos botões */
}

.timeButton:hover {
  background-color: #f0f0f0;
  border-color: #bbb;
}

.activeTime {
  background-color: #007bff !important;
  color: white !important;
  border-color: #0056b3 !important;
}

.blockedTime {
  background-color: #ffcccc !important;
  color: #ff0000 !important;
  cursor: not-allowed !important;
}

@media (max-width: 768px) {
  .formContainer {
    padding: 20px;
    max-width: 90%;
  }

  .title {
    font-size: 28px;
  }

  .button {
    font-size: 14px;
    padding: 10px;
  }

  .reactCalendar {
    max-width: 100% !important;
  }

  .inputoption, .inputnome {
    width: 100%;
  }

  .timeButton {
    width: 50px; /* Ajuste a largura dos botões para dispositivos móveis */
    font-size: 30px; /* Ajuste o tamanho da fonte para dispositivos móveis */
  }

  .modalContent {
    max-width: 90%;
    padding: 20px;
  }

  .modalFooter {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .buttonSecondary {
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .modalContent {
    max-width: 95%;
    padding: 15px;
  }

  .title {
    font-size: 24px;
  }

  .button {
    font-size: 12px;
    padding: 8px;
  }

  .inputoption, .inputnome {
    font-size: 14px;
    padding: 10px;
  }

  .timeButton {
    width: 50px; /* Ajuste a largura dos botões para dispositivos móveis */
    font-size: 12px; /* Ajuste o tamanho da fonte para dispositivos móveis */
  }

  .modalFooter {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .buttonSecondary {
    padding: 6px 10px;
  }
}

.blockButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.blockButton:hover {
  background-color: #ff1a1a;
}

.blockedDay {
  background-color: #ffcccc !important;
  color: #ff0000 !important;
  border-radius: 10px !important;
}

.sidebar {
  position: absolute; /* Posiciona o Sidebar fora do fluxo normal */
  right: 0; /* Alinha o Sidebar à direita da tela */
  top: 50px; /* Ajusta a distância do topo */
  width: 300px; /* Define uma largura fixa */
}