.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px; /* Adicionado padding para evitar cortes em telas pequenas */
    background: #f3f4f6;
}

.formContainer {
    background-color: #f1f1f1f3; /* Ajustado para o novo background */
    padding: 30px;
    border-radius: 10px; /* Ajustado para 10px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajustado para sombra mais suave */
    max-width: 500px; /* Ajustado para 500px */
    width: 100%;
    box-sizing: border-box; /* Inclui padding e borda no cálculo de largura */
}

.logoContainer {
    text-align: center;
    margin-bottom: 0px;
}

.title {
    text-align: center;
    font-size: 30px; /* Ajustado para 30px */
    color: #333;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif; /* Adicionado font-family */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adicionado gap */
    align-items: center; /* Centraliza os elementos do formulário */
}

.input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Ajustado para 5px */
    font-size: 16px;
    width: 100%; /* Faz com que o input ocupe toda a largura disponível */
    box-sizing: border-box; /* Inclui padding e borda no cálculo de largura */
    background-color: white; /* Define o fundo branco */
    color: black; /* Define a cor do texto como preto */
}

.input::placeholder {
    color: #aaa; /* Define o placeholder como cinza */
    opacity: 1; /* Garante que o placeholder seja visível */
}

.input:focus {
    border-color: #0070f3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5); /* Adicionado efeito de foco */
}

.passwordContainer {
    position: relative;
    width: 100%;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button {
    padding: 12px;
    border: none;
    background-color: #0070f3;
    color: white;
    font-size: 16px;
    border-radius: 5px; /* Ajustado para 5px */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Faz com que o botão ocupe toda a largura disponível */
    box-sizing: border-box; /* Inclui padding e borda no cálculo de largura */
}

.button:hover {
    background-color: #005bb5; /* Ajustado para cor de hover */
}

.buttonSecondary {
    margin-top: 20px;
    padding: 12px;
    border: 1px solid #0070f3;
    background-color: transparent;
    color: #0070f3;
    font-size: 16px;
    border-radius: 5px; /* Ajustado para 5px */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%; /* Faz com que o botão ocupe toda a largura disponível */
    box-sizing: border-box; /* Inclui padding e borda no cálculo de largura */
}

.buttonSecondary:hover {
    background-color: #0070f3;
    color: white;
}

.buttonForgotPass {
    margin-top: 20px;
    padding: 12px;
    border: 1px solid #0070f3;
    background-color: transparent;
    color: #0070f3;
    font-size: 16px;
    border-radius: 5px; /* Ajustado para 5px */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%; /* Faz com que o botão ocupe toda a largura disponível */
    box-sizing: border-box; /* Inclui padding e borda no cálculo de largura */
}

.buttonForgotPass:hover {
    background-color: #0070f3;
    color: white;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .formContainer {
        padding: 20px; /* Diminui o padding para telas menores */
    }

    .title {
        font-size: 20px; /* Reduz o tamanho da fonte do título em telas menores */
    }

    .input, .button, .buttonSecondary, .buttonForgotPass {
        font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
        padding: 10px; /* Ajusta o padding para telas menores */
    }
}
