.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 8px 32px rgba(16,30,54,0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  color: #615f5f;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.closeButton:hover {
  color: #000;
}

.input {
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.buttonSalvar {
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.buttonSalvar:hover {
  background: #1746a2;
}

.label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.850rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: auto;
}

/* Novo layout horizontal para modais de criação */
.horizontalModal {
  max-width: 820px;
}

.formHorizontal {
  display: flex;
  gap: 24px;
}

.basicInfo,
.addressInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.divider {
  width: 1px;
  background-color: #e5e7eb; /* Cinza claro, quase branco */
}
