.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #0a2d4a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 160px;
  margin-bottom: 40px;
  margin-top: 40px; /* reduzido para aproximar os textos */
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0;
  flex: 0 1 auto;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  line-height: 1.5;
  margin-bottom: 0;
}

.navItemFarmacia{
  display: flex;
  align-items: center;
  gap: 6px; /* REDUZ O ESPAÇO ENTRE ÍCONE E TEXTO */
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-size: 14px; /* DIMINUI TAMANHO DO TEXTO */
  border-radius: 5px;
  transition: background-color 0.3s;
  line-height: 1.4;
}

.navItemFarmacia:hover {
  background-color: #34495e;
}

.navItem:hover {
  background-color: #34495e;
}

.icon {
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px; /* já suficiente */
  min-height: 24px;
  width: 24px;
  height: 24px;
}

.logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 40px;
}

.logoutButton:hover {
  background-color: #e74c3c;
}

.cadastroButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: 'Inter', sans-serif;
}

.farmaciaButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: 'Inter', sans-serif;
}

.chevronIcon {
  margin-left: 20px; /* altera a distancia daquela seta do lado de cadastros */ 
}

.subNav {
  display: flex;
  flex-direction: column;
}

.subNavItem {
  display: flex;
  align-items: center;
  padding: 8px 15px 8px 35px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.subNavItem:hover {
  background-color: #34495e;
}
