.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 41, 59, 0.18);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.card {
  background: #fff;
  border-radius: 18px;
  padding: 32px 24px 24px 24px;
  min-width: 320px;
  max-width: 98vw;
  max-height: 90vh;
  box-shadow: 0 8px 32px #00000022;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.buttonExcluir {
  background: #dc2626;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}

.buttonEditar {
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}

.buttonFechar {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  color: #615f5f;
  font-size: 19px;
  font-weight: 900;
  cursor: pointer;
  padding: 4px;
  line-height: 1;
}

.buttonFechar:hover {
  color: #111827;
}

.input {
  padding: 6px 8px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-bottom: 8px;
}

.buttonCancelar {
  background: #dc2626;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}

.tabBar {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.tabButton {
  background: #e5e7eb;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.activeTab {
  background: #2563eb;
  color: #fff;
}
