.container {
  margin-left: 260px;
  padding: 2rem 3rem;
  max-width: calc(100% - 260px - 3rem);
  min-height: 80vh;
  background-color: #f3f4f6;
}

.titleConvenios {
  font-size: 2.25rem;
  font-weight: 800;
  color: #111827;
  margin: 18px 0 0 0;
  letter-spacing: -1px;
  text-align: left;
}

.subtitleConvenios {
  font-size: 1rem;
  font-weight: 400;
  color: #6b7280;
  margin: 0.1rem 0 2rem 0;
}

.conveniosTableWrapper {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 8px 32px 0 rgba(16, 30, 54, 0.08);
  padding: 0;
  margin-bottom: 32px;
  margin-top: 18px;
  width: 100%;
  max-width: 1600px;
  min-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.conveniosTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  min-width: 800px;
}

.conveniosTable th {
  text-align: left;
  font-size: 1.05rem;
  color: #8b98a9;
  font-weight: 700;
  padding: 18px 0 12px 32px;
  border-bottom: 1px solid #f1f1f1;
  background: #f9fafb;
  letter-spacing: 0.5px;
}

.conveniosTable th,
.conveniosTable td {
  padding-left: 32px;
  padding-right: 16px;
  text-align: left;
  vertical-align: middle;
}

.conveniosTable th:first-child,
.conveniosTable td:first-child {
  padding-left: 40px;
}

.conveniosTable th:last-child,
.conveniosTable td:last-child {
  padding-right: 24px;
}

.conveniosTable td {
  font-size: 1.08rem;
  color: #222;
  padding: 18px 0 18px 32px;
  border-bottom: 1px solid #f6f6f6;
  vertical-align: middle;
}

.conveniosTable td:first-child {
  padding-left: 40px;
}

.conveniosTable td:last-child {
  padding-right: 24px;
}

.buttonAcao {
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 14px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 8px;
}

.buttonAcao:hover {
  background: #1746a2;
}

.buttonExcluir {
  background: #dc2626;
  color: #fff;
}

.buttonExcluir:hover {
  background: #b91c1c;
}


.actionButtonsWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.buttonAdicionar {
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  display: inline-block;
  text-align: center;
  min-width: 180px;
  text-decoration: none;
  font-weight: bold;
}

.buttonAdicionar:hover {
  background: #1746a2;
}

.checkboxCell {
  width: 40px;
  text-align: center;
}

.checkboxHeader {
  width: 40px;
}