.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.image {
  margin-bottom: 20px;
}

.titleError {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.paragrafoError {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.link {
  font-size: 1rem;
  color: var(--color-link);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}
