.breadcrumbWrapper {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 15px;
  color: #8b98a9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0;
}

.breadcrumb {
  font-size: 15px;
  color: #8b98a9;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0;
}

.breadcrumbActive {
  color: #2563eb;
  font-weight: 600;
}
