.breadcrumbWrapper {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 15px;
  color: var(--color-breadcrumb-text);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0;
}

.breadcrumb {
  font-size: 15px;
  color: var(--color-breadcrumb-text);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0;
}

.breadcrumbActive {
  color: var(--color-link-hover);
  font-weight: 600;
}
