@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


:root {
    --font-primary: 'Inter', sans-serif;
  }

  html {
    background-color: #f3f4f6;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: #f3f4f6; /* opcional */
    color: #333;
    overflow-x: hidden; /* Evita scroll lateral em todo o site */
  }

.pageLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.95);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingLogo {
  width: 460px;
  margin-bottom: 1rem;
  height: 180px;
}


.loadingBar {
  position: relative;
  width: 80%;
  height: 7px;
  background: linear-gradient(90deg, #e0e0e0 0%, #f3f4f6 100%);
  overflow: hidden;
  border-radius: 3.5px;
}
.loadingBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  height: 100%;
  width: 40%;
  background: linear-gradient(90deg, rgba(10,45,74,0.1) 0%, #2563eb 60%, rgba(10,45,74,0.1) 100%);
  border-radius: 3.5px;
  animation: loadingShine 1.6s cubic-bezier(.4,.2,.2,1) infinite;
}

@keyframes loadingShine {
  0% { left: -40%; opacity: 0.7; }
  40% { opacity: 1; }
  60% { opacity: 1; }
  100% { left: 100%; opacity: 0.7; }
}
