@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


:root {
    --font-primary: 'Inter', sans-serif;
  }

  html {
    background-color: #f3f4f6;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: #f3f4f6; /* opcional */
    color: #333;
    overflow-x: hidden; /* Evita scroll lateral em todo o site */
  }

.pageLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.95);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingLogo {
  width: 470px;
  margin-bottom: 1rem;
  height: 180px;
}

.loadingBar {
  position: relative;
  width: 80%;
  height: 6px;
  background: #e0e0e0;
  overflow: hidden;
  border-radius: 3px;
}
.loadingBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #0a2d4a;
  animation: loadingProgress 2s linear infinite;
}

@keyframes loadingProgress {
  from { width: 0; }
  to { width: 100%; }
}
